# fly.toml app configuration file generated for client-rough-sea-4799 on 2025-11-22T19:12:09-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'client-rough-sea-4799'
primary_region = 'iad'

[build]
  [build.args]
    VITE_API_URL = 'https://seng401-project-zopac.fly.dev'

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
