# fly.toml app configuration file for seng401-project-zopac client
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'seng401-project-zopac-client'
primary_region = 'iad'

[build]

[env]
  VITE_API_URL = 'https://seng401-project-zopac.fly.dev'

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
