services:
  db:
    image: postgres:16
    container_name: app-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: devpass

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - db
  server:
    build:
      context: ./server
      dockerfile: Dockerfile